node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
screenshots/

links.csv
zerostep.config.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/*.png
*.txt
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
storageState.json
